*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: url("images/1.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden; 
}

.register-container{
    width: 500px;
    display: flex;
    flex-direction: column;
    transition: .5s ease-in-out;
}

.form-box{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 512px;
    height: 420px;
    overflow: hidden;
}
header{
    color: #84849c;
    font-size: 30px;
    text-align: center;
    padding: 20px 0 30px 0;
    font-weight: 200;
}
.input-field{
    font-size: 15px;
    background: #e6e6eb;
    color: #030316;
    font-weight: 600;
    font-size: 16px;
    height: 50px;
    width: 100%;
    padding: 0 10px 0 45px;
    border: none;
    border-radius: 30px;
    outline: none;
    transition: .2s ease;
    opacity: 60%;
}
.input-field:hover, .input-field:focus{
    background: #99d2eb;
}

.input-box i{
    position: relative;
    top: -35px;
    left: 17px;
    color: #fff;
}
.submit{
    font-size: 15px;
    font-weight: 500;
    color: black;
    height: 45px;
    width: 100%;
    border: none;
    border-radius: 30px;
    outline: none;
    background: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    transition: .3s ease-in-out;
}
.submit:hover{
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.p-style{
    color: #7aa8bc;
    font-size: 20px;
    text-align: center;
    padding: 20px 0 30px 0;
    font-weight: 200;
}
.button-container {
    display: flex;
    justify-content: center;
    width: 100%;
}
.button-container a{
    text-decoration: none;
}

.log-out {
    font-size: 20px;
    font-weight: 500;
    color: #1f2a2f;
    height: 45px;
    width: 500px;
    border: none;
    border-radius: 30px;
    outline: none;
    background: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    transition: .3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.log-out:hover{
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}